<phpunit
    bootstrap="vendor/autoload.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    strict="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="All tests">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
